.color-orange{
  color:$color_orange;
}

.color-blue{
  color:$color_blue;
}
.color-purple{
  color:$color_purple;
}

.bg-color-orange{
  background-color: $color_orange;
}
.bg-color-blue{
  background-color: $color_blue;
}
.bg-color-purple{
  background-color: $color_purple;
}
.bg-color-sky{
  background-color: $color_sky;
}